<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>E-Assignment</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<div th:insert="fragments/navigation"></div>
<div class="container-fluid">
 <h1>Navsahyadri</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
     Assignment
    </div>
    <div class="col-sm">
      Assignment-type
    </div>
      </div>
</div>

<div class="container">
  <!--<h1>Wel-Come-->
</div>
<main role="main" class="container">

    <div class="starter-template">
    <!--<h1>Spring Boot Web Thymeleaf Example</h1>-->
    <!--<h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>-->
    </div>
        
 


    

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

</body>
</html>

